
.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-error(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 12px;
		height: 12px;
	}
	.hover(@isHover);
	
	background-position: 0px -21px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-error{
	background-position: 0px -21px;
	width: 12px;
	height: 12px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-moduleIndex-close(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 6px;
		height: 11px;
	}
	.hover(@isHover);
	
	background-position: 0px -33px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-moduleIndex-close{
	background-position: 0px -33px;
	width: 6px;
	height: 11px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-moduleIndex-open(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 7px;
		height: 7px;
	}
	.hover(@isHover);
	
	background-position: -36px -21px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-moduleIndex-open{
	background-position: -36px -21px;
	width: 7px;
	height: 7px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-up1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 12px;
		height: 7px;
	}
	.hover(@isHover);
	
	background-position: -24px -21px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-up1{
	background-position: -24px -21px;
	width: 12px;
	height: 7px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-up2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 12px;
		height: 8px;
	}
	.hover(@isHover);
	
	background-position: -12px -21px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-up2{
	background-position: -12px -21px;
	width: 12px;
	height: 8px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-validate(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: 0px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-validate{
	background-position: 0px 0px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-xx1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 16px;
		height: 15px;
	}
	.hover(@isHover);
	
	background-position: -18px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-xx1{
	background-position: -18px 0px;
	width: 16px;
	height: 15px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-xx11(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 16px;
		height: 15px;
	}
	.hover(@isHover);
	
	background-position: -34px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-xx11{
	background-position: -34px 0px;
	width: 16px;
	height: 15px;
}

